name: Publish to npm

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

permissions:
  contents: read

jobs:
  publish:
    name: Build & Publish
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup NPM Auth
        uses: Octav-Labs/github-actions/setup-npm-auth@v1.1.14
        with:
          op_service_account_token: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          npm_token_1p_path: "op://admin-developers/NPM - CICD tokens/password"

      - name: Setup Node
        uses: Octav-Labs/github-actions/setup-node@v1.1.14
        with:
          pnpm-version: 10

      - name: Build
        run: pnpm build

      - name: Publish to npm
        run: pnpm publish --access public --no-git-checks
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
